.other-products {
  padding-top: 76px;
  background-color: #0f0f0f;
  
  .heading {
    font-size: 23px;
    font-family: $font-montserrat-bold;
    color: #00ff00;
    text-align: center;
    text-transform: uppercase;
  }
}